body {
    background-color: #222;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

#fun h1 {
    text-align: center;
    padding: 10px 20px;
    border-bottom: 2px dashed #fff;
    margin: 0;
}

#fun div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#fun div p {
    width: 50%;
    text-align: justify;
    text-justify: inter-word;
}
#fun section {
    height: 300px;
    width: 300px;
    background-color: dodgerblue;
    margin-top: 20px;
}
#fun p.long-text {
    width: 300px;
    position: relative;
    top: -100px;
    left: 100px;
}
#fun .positioneddiv {
    position: relative;
}
#fun .positioneddiv section {
    position: relative;
    background-color: burlywood;
    margin-bottom: 50px;
}
#fun .positioneddiv p {
    position: absolute;
    top: -40px;;
    left: -20px;
}
#fixedthing {
    position: fixed;
    top: -20px;
    left: -20px;
    background-color: green;
    height: 40px;
    width: 40px;
    transform: rotate(45deg)
}
#fixedthing:hover {
    height: 200px;
    width: 200px;
    background: red;
    left: -100px;
    top: -100px;
    transition: all 1s ease-in-out;
}
#fun span {
    display: inline-block;
    background-color: red;
    margin: 10px;
    padding: 10px;
}
#fun header {
    margin: 30px;
}
#fun header img {
    width: 250px;
    float: left;
    padding: 0 20px 10px 0
}

/* Flexbox section */
.flexbox {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.flexbox .card {
    background-color: seagreen;
    width: 33%;
    padding: 10px;
}
.flexbox2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border: 2px solid #555;
    justify-content: space-between;
    align-content: center;
    height: 30vh;
}
.flexbox2 > div {
    padding: 10px;
    flex-basis: 100px;
}
.red {background-color: red; order: 3;}
.orange {background-color: orange; order: 2}
.yellow {background-color: yellow; order: 1}
.green {background-color: green; order: 5}
.blue {background-color: dodgerblue; order: 4}
.indigo {background-color: turquoise; order: 7}
.violet {background-color: purple; order: 6}