body {
    background-color: #222;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

h1 {
    text-align: center;
    padding: 10px 20px;
    border-bottom: 2px dashed #fff;
    margin: 0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div p {
    width: 50%;
    text-align: justify;
    text-justify: inter-word;
}
section {
    height: 300px;
    width: 300px;
    background-color: dodgerblue;
    margin-top: 20px;
}
p.long-text {
    width: 300px;
    position: relative;
    top: -100px;
    left: 100px;
}
.positioneddiv {
    position: relative;
}
.positioneddiv section {
    position: relative;
    background-color: burlywood;
}
.positioneddiv p {
    position: absolute;
    top: -40px;;
    left: -20px;
}
#fixedthing {
    position: fixed;
    top: -20px;
    left: -20px;
    background-color: green;
    height: 40px;
    width: 40px;
    transform: rotate(45deg)
}